<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Create New Ticket</title>
        </head>

        <body>
            <h2>Create A Ticket</h2>
            <form action="/flights/<%= flight._id %>/tickets" method="POST">
                <label>Seat:
                    <input name="seat" required pattern="[A-F][1-9]\d">
                </label><br>
                <label> Price: </label>
                <input type="number" min="0" max="9999" name="price">
                <br>
                <label>Flight:
                    <%= flight._id %>
                </label>
                <input type="submit" value="Add Ticket">
            </form>

        </body>

</html>